$yellow: #efc300;

@keyframes flyright {
    0% {transform: rotate(0deg);opacity: 0;}
    20% {transform: rotate(36deg);opacity: 1;}
    50% {transform: rotate(90deg);opacity: 1;}
    100% {transform: rotate(180deg);opacity: 0;}
}

@keyframes flyleft {
    0% {transform: rotate(180deg);opacity: 0;}
    20% {transform: rotate(144deg);opacity: 1;}
    50% {transform: rotate(90deg);opacity: 1;}
    100% {transform: rotate(0deg);opacity: 0;}
}

@mixin flyright {
    animation: flyright 1.5s infinite linear;
}

@mixin flyleft {
    animation: flyleft 1.5s infinite linear;
}

$delays: 0s .5s 1s .25s 1.25s .75s;

.title-component.COMPLETE .sparkles-component {
    opacity: 1;
}

.sparkles-component {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
    opacity: 0;
    width: 100%;
    height: 100%;

    div {
        position: absolute;
        transform: rotate(0deg);
        transition: transform 1s, opacity 1s;
        width: 100px;
        height: 100px;
        text-align: left;
        line-height: 100px;

        &::before {
            color: $yellow;
            content: '\02736';
        }

        @for $i from 1 through 40 {
            &:nth-of-type(#{$i}) {
                $left: (-4 * $i) % 65 + 15;
                $top: (-1 * $i) % 12 + 6;

                top: percentage($top / 100);
                left: percentage($left / 100);

                @if $left > 45 {
                    @include flyright;
                } @else {
                    @include flyleft;
                }

                animation-delay: nth($delays, ($i % 6) + 1);
            }
        }
    }
}
